body{
	height: 100vh;
	background-image: url(https://cdnb.artstation.com/p/assets/images/images/010/592/919/large/rogue-dragon-studio-janesfarm-main.jpg?1525231030);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.Pet 1{
	
}